<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fh_kiel.bleaccessory.app" >
    //BT Permissions?
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    //Internet Permissions
    <uses-permission android:name="android.permission.INTERNET" />
    
    //BLE Feature
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fh_kiel.bleaccessory.app.ScanActivity"
            android:label="Beacon Monitor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fh_kiel.bleaccessory.app.RoomPlanActivity"
            android:label="@string/roomplan_activity_titel" >
        </activity>
    </application>

</manifest>
